.contain
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.icon
    cursor: pointer
    color: #096dd9
    &:hover
        color: #40a9ff

.form
    display: flex

.containCard
    & :global
        .ant-card-body
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 250px
            align-items: stretch
