.playerContainer
    display: flex
    align-items: center
    margin-bottom: 15px

.avatar
    width: 120px
    height: 120px
    min-width: 85px
    min-height: 85px
    border: 5px solid



.resources
    display: flex
    flex-direction: column

.resource
    margin: 3px 0
    display: flex
    justify-content: space-around
    align-items: center
    width: 80px
    font-size: 20px
    font-family: Neucha, sans-serif
