.card, .cardAdd
    font-size: 100px
    width: 200px
    height: 200px
    justify-content: center
    align-items: center
    margin: 5px

.cardAdd
    outline: none
    border: none

    &:hover
        outline: none
        border: none

.containCards
    display: flex
    flex-wrap: wrap
    margin: 50px

.title
    text-align: center
    padding-top: 30px

