.card, .cardAdd
    font-size: 100px
    margin: 5px

.cardAdd
    height: 200px
    width: 200px
    outline: none
    border: none

    &:hover
        outline: none
        border: none

.container
    margin: 0 40px 40px
.containCards
    display: flex
    flex-wrap: wrap

.title
    text-align: center
    padding-top: 30px

.tab
  & :global
    .ant-tabs-nav:before
      border: none

