.gameContainer
    display: grid
    grid-template-areas: "playersTableContainer header actionsContainer" "playersTableContainer playingField actionsContainer"
    grid-template-rows: 60px 90%
    grid-template-columns: minmax(250px, 15%) 1fr 5%
    grid-gap: 10px
    padding: 20px 20px 10px 0
    width: 100%
    height: 100vh
    position: relative


.playingField
    grid-area: playingField
    margin: -30px 0 10px -98px
    max-width: 1200px
    width: 100%
    justify-self: center

.svg
    height: 100%
    max-width: 100%
    max-height: 80vh

.header
    grid-area: header
    width: 100%
    height: 50px
    display: flex
    align-items: center

    .openTableBtn, .table
        position: absolute

    .gameName
      margin-top: 1%

    .startGameBtn
      position: absolute
      left: 50%

.playersTableContainer
    grid-area: playersTableContainer

    & :global
        .rcs-custom-scroll-handle
            opacity: 0

.actionsContainer
    grid-area: actionsContainer
    display: flex
    flex-direction: column
    align-items: flex-end
    gap: 30px

    .action
        max-width: 50px
        max-height: 50px

.leaveGame
  z-index: 1100

.closeBtn
    position: absolute
    top: 0
    right: 0

.tabs
    & :global
        .ant-tabs-tab
            cursor: default
    & :global
        .ant-tabs-tab-btn
            color: black!important
            cursor: default
    & :global
        .ant-tabs-nav
            margin-bottom: 0


