@import "index"

.App
    min-height: calc(100vh - #{$footerHeight})
    height: 100%

    @media all and (max-width: $mobileMax), all and (max-height: $mobileMax)
        min-height: calc(100vh - #{$footerSmallHeight})


.Footer
    height: $footerHeight
    font-size: $footerFontSize
    padding: 20px $appSizePadding 10px
    line-height: normal
    background: none
    position: fixed
    left: 0
    bottom: 0

    @media all and (max-width: $mobileMax), all and (max-height: $mobileMax)
        font-size: $footerSmallFontSize
        height: $footerSmallHeight
        padding: 20px $appSizePaddingMobile 10px

.Logo
    font-family: Neucha, serif
    font-weight: 600
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    gap: 10px

    &Img
        height: 35px
        width: 35px
        transition: 0.1s

    &:hover
        .LogoImg
            transform: scale(1.1)

.Header
    display: flex
    background: none
    box-sizing: content-box
    justify-content: space-between
    align-items: center
    padding: 30px $appSizePadding 0

    @media all and (max-width: $mobileMax), all and (max-height: $mobileMax)
        padding: 15px 0 0 $appSizePaddingMobile

.Nav
    background: none
    border: none

    &Item
        font-family: Neucha, serif
        font-weight: 600
        font-size: 20px
        @media all and (min-width: $mobileMax), all and (min-height: $mobileMax)
            font-size: 24px
        & > a
            font-family: Neucha, serif
            font-weight: 600
            font-size: 20px
            @media all and (min-width: $mobileMax), all and (min-height: $mobileMax)
                font-size: 24px

    &Collapsed
        width: 100%
        margin-left: auto

        & > span
            margin-left: 10px
