:root {
    --game-green: #a1d62f;
    --game-blue: #338ffd;
    --game-yellow: #f7d540;
    --game-pink: #cc63a2;
    --game-grey: #898989;
    --game-violet: violet;
    --game-orange: orange;
    --game-black: #000;
    --game-white: #fff;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root, .App {
    min-height: 100vh;
    height: 100%;
}

.App {
    background: left 5% / 15% repeat url('./assets/Pattern.jpg') ;
    height: 100%;
}
