@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap')

$footerHeight: 28px
$appSizePadding: 50px

$appSizePaddingMobile: 20px

$smallMobileMax: 414px
$mobileMax: 700px

$actionIconSize: 70px
$actionIconSizeMobile: 55px
$actionIconSizeSmallMobile: 45px

\:root
  --section-padding: 80px
  --game-green: #a1d62f
  --game-blue: #338ffd
  --game-yellow: #f7d540
  --game-pink: #cc63a2
  --game-grey: #898989
  --game-violet: #9a47ff
  --game-orange: #ff7e47
  --game-black: #000
  --game-white: #fff

  @media all and (max-width: 900px)
    --section-padding: 40px

  @media all and (max-width: 900px)
    --section-padding: 20px

body
  margin: 0
  background: left 5% / 15% repeat url('./assets/pattern.jpeg')
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1, h2, h3, h4
    font-family: Neucha, serif

*
  font-family: 'Roboto', sans-serif

  outline: none
  box-sizing: border-box

button
  border: none
  cursor: pointer
  background: none

ol
  counter-reset: section
  list-style-type: none
  & > li::before
    counter-increment: section
    content: counters(section,".")
    margin-right: 5px

li
  margin-left: -20px

