.contain
    background-color: white
    min-width: 200px
    min-height: 100px
    padding: 40px
    display: flex
    align-items: center
    flex-direction: column
    position: relative

    width: 200px
    height: 200px
    justify-content: center

    .playersCount
        font-size: 15px
        position: absolute
        bottom: 10px

    .nameGame
        text-align: center