.contain
    background-color: white
    border: 1px solid #f0f0f0
    border-radius: 2px

    min-width: 200px
    min-height: 100px
    padding: 40px
    display: flex
    align-items: center
    flex-direction: column
    position: relative

    width: 200px
    height: 200px
    justify-content: center
    transition: 0.2s
    &:hover
        border: 1px solid #f0f0f0
        color: #1890ff
        transform: scale(1.05)

    .playersCount
        font-size: 15px
        position: absolute
        bottom: 10px

    .nameGame
        text-align: center

    .status
        text-align: center
        font-size: 15px
        position: absolute
        top: 10px

    .statusAwaiting
        color: var(--game-green)

    .statusNotAwaiting
        color: var(--game-blue)